
/* default and index page */

/* HEADER */
/* aligning for title to fit body */
.initial_dent {
    margin-left: 150px;
    margin-bottom: 0;
}

/* aligning for words to fit w/i body <div> as parent */
.second_dent {
    margin-left: 30px;
}

/* backtround-color: gray */
/* full header going across the entire head */
header{
    background-color:#ffffff;
    height: 80px;
    margin: 0;
}

/* background-color: green */
/* header section only above 960px */
.header_sections{
    width:960px;
    background-color: #ffffff;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* 여기서고침 그 CHI KIM center */
/* length of teal colored header, floating left. 30% of 960px */
#header_sections_first{
    float: left;
    width: 30%;
    align-items: center;
}

/* buttons in the header */
a{
    width:90px;
    height: 30px;
    background-color: #ffffff;
    color: #cccccc;
    text-decoration: none;
    text-align: center;
    border: none;
    margin-top: 0px;
    position: relative;
    right: 0;
    bottom: 0;
    float: right;
    top: 40px;
}

/* Button height and divider height*/
.button_top_left{
    border-left: 1px #cccccc solid;
    height: 9%;
}

.button_top{
    height: 9%;
}


/* length of white colored header, floating right. floating right, 70% of 960px */
#header_sections_second{
    background-color: #ffffff;
    float: right;
    width: 70%;
    height: 80px;
}

/* background image/color */
body {
    background-image: url("../images/sun_pattern.png");
    /* background-color: rgb(179, 177, 177); */
}

 /* I NEED HELP figuring out extending the centering CHI KIM */
 /* CHI KIM word inside header_sections_first  */
.h1_text{
    background-color: #4aaaa5;
    color: #ffffff;
    width: 25%;
    height: 40px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;    
}






/* BODY */
/* main heading inside the body */
.title{
    position: relative;
    top: 25px;
    left: 30px;
    margin-top: 50px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
}

/* face picture in index */
.face_size{
    height: 200px;
    margin: 30px;
    float: left;
}

/* background-color: pink */
/* main body, nesting other elements */
.main_body{
    background-color: #ffffff;
    height: 600px;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left:auto;
    margin-right:auto;   
}

/* specifically for portfolio, for longer contents */
#elongated{
    background-color: #ffffff;
    height: 900px;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left:auto;
    margin-right:auto;
}

/* size and spacing for body p in index*/
p {
    font-size: 20px;
    margin: 30px;
}

/* extra line under header */
.top_line {
    background-color: #cccccc;
    height: 3px;
    margin: 0;
    clear: both;
}

/* extra line in the body */
.middle_line {
    background-color: #dddddd;
    height: 3px;
    margin: 0;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}


/* extra line above footer */
.bottom_line {
    background-color: #4aaaa5;
    height: 5px;
    padding: 0;
    border: 0;
    margin: 0;    
    
}

/* main gray footer */
footer{
    background-color: #666666;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* copyright within footer */
.copy_state{
    color: #ffffff;
    font-size:10px;
    position: relative;
    top: 40px;
    padding: 0;
    border: 0;
    margin: 0;
}

/* spacing for main body */
body{
    margin: 0;
    padding: 0;
    border: 0;
}






/*contacts page*/

/* width and height for name and e-mail  */
input{
    width: 900px;
    height: 20px;
}

/* width and hegith for message */
textarea{
    width: 900px;
    height: 250px;
}

/* submit button */
.button_green{
    width:100px;
    height: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
}








/* Portfolio page*/

/* main <div> containing the image, labeling <div> and words */
.container{
    position:relative;
    text-align: center;
}


/* images, floating and clear/floating */
/* color: purple */
.position_image{
    position: relative;
    text-align: center;
    color: #ffffff;
    height: 200px;
    width: 270px;
    margin: 20px 30px 30px 20px;
}

.image_float{
    float: left;
}

.image_clear{
    clear: both;
    float: left;
}


/* div for labeling on top of images */
.box_for_image{
    height: 50px;
    width: 270px;
    margin: 20px 30px 30px 10px;
    position: absolute;
    top: 70%;
    z-index:1;
    background-color: #4aaaa5;
}

/* words on the labels */
.centered {
    position: absolute;
    top: 30%;
    left: 42%;
}

/* words leangthy. centering */
#korean_food{
    position: absolute;
    top: 30%;
    left: 33%;
}

/* size of the image */
.image_size{
    height: 200px;
    width: 270px;
    margin: 20px 30px 30px 10px;
    }
    



    


    
/* Fonts */

/* font for heading */
.heading_fonts{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* font for <p> and <buttons> */
.other_fonts{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
