
.initial_dent {
    margin-left: 150px;
    margin-bottom: 0;
}

.second_dent {
    margin-left: 30px;
}

header{
    background-color:gray;
    height: 80px;
    margin: 0;
}

.header_sections{
    width:960px;
    background-color: green;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* 여기서고침 그 CHI KIM center */
#header_sections_first{
    float: left;
    width: 30%;
    display: flex;
    align-items: center;
}

#header_sections_second{
    background-color: white;
    float: right;
    width: 70%;
}

/* I NEED HELP firguring out ref background image */
body {
    background-image: url("../images/circles_dark.png");
    background-color: purple;
   
}

 /* I NEED HELP figuring out extending the centering CHI KIM */
.h1_text{
    background-color: #4aaaa5;
    color: white;
    width: 25%;
    height: 80px;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    
}

.tab{
    float: right;
    z-index: right;
}

.title{
    position: relative;
    top: 25px;
    left: 30px;
    margin-top: 50px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    vertical-align: middle;
}

img{
    float: left;
    height:200px;
    margin: 30px;
}

.main_body{
    background-color: pink;
    height: 600px;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left:auto;
    margin-right:auto;
}

p {
    font-size: 20px;
    margin: 30px;

}

.top_line {
    background-color: #cccccc;
    height: 3px;
    margin: 0;
    clear: both;
}

.middle_line {
    background-color: #dddddd;
    height: 3px;
    margin: 0;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}


/* ADDING height changes everything...what the.. */
.bottom_line {
    background-color: #4aaaa5;
    height: 3px;
    padding: 0;
    border: 0;
    margin: 0;    
    
}

footer{
    background-color: #666666;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

}

body{
    margin: 0;
    padding: 0;
    border: 0;
}



/* Fonts */

.heading_fonts{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.other_fonts{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}




/*contacts*/


input{
    width: 900px;
    height: 20px;
}

textarea{
    width: 900px;
    height: 250px;
}
   
.button_green{
    width:100px;
    height: 30px;
    background-color: #4aaaa5;
    color: white;
}

button{
    width:90px;
    height: 30px;
    background-color: white;
    color: #cccccc;
    text-decoration: none;
    text-align: center;
    border: none;

}

.button_top_left{
    border-left: 2px red solid;
    height: 9%;
}

.position_image{
    margin : 10px;

}

/* what does thisdo */
/* html {
    overflow-y: scroll;
 } */
